* {
  font-size: 14px;
  color: #ffffff;
}

p {
  line-height: 1.5;
}

body {
  border: 1px solid #002b36;
  border-radius: 10px;
  border-width: 3px;
  border-color: #ffffff;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #282828 !important;
  font-family: "Cascadia Code Regular" !important;
  color: #839496;

  min-height: 100vh;
}

@media screen and (max-width: 542px) {
  * {
    font-size: 15px;
  }
  .title-card-small {
    font-size: 100px;
  }
  .title-card-large {
    font-size: 11px;
  }
}

.fancy-3d {
  font-family: "Mexcellent 3D", cursive;
  font-size: max(80px, 8vw);
  margin: auto;
}

.sub-heading {
  font-size: max(60px, 4vw) !important;
}

.prompt-text {
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

.prompt-input {
  display: inline-block;
  padding: 5px;
  width: 5px;
  margin-left: 10px;
  flex: 1 1 0;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: text;
  font-family: "Cascadia Code Regular" !important;
  padding: 0;
  margin: 0;
}

.prompt-taker {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.pre {
  margin: auto;
  white-space: pre;
}

main {
  overflow: auto;
  box-sizing: border-box;
}

footer {
  height: 40vh;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.highlight {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #5c5b5b 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

.highlight.copy-clip {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #3c486b 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.prompt-output {
  /* width: min(550px, 100%); */
  overflow: hidden;
  color: #ebdbb2;
}

input {
  caret-shape: underscore;
}

.portrait {
  width: 50%;
  height: auto;
  margin: 30px;
  border-radius: 50%;
  box-shadow: 10px 10px 0px rgb(255, 255, 255);
}

.portrait:active {
  transform: translateY(10px) translateX(10px);
  box-shadow: none;
}

@media screen and (max-width: 542px) {
  .portrait {
    width: 80%;
  }
}

.icon img {
  width: 20px;
  height: auto;
  margin: 10px;
}

.icon img,
.icon p {
  display: inline-block;
  vertical-align: middle; /* to align them vertically centered to each other */
}

.row {
  display: flex;
}

.cell {
  margin-top: -1px;
  margin: 0px;
  width: max(100px, 5vw);
  height: max(100px, 5vw);
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: 3px solid #ffffff;
}

.cell.left {
  border-left: none;
}

.cell.right {
  border-right: none;
}

.cell.bottom {
  border-bottom: none;
}

.cell.top {
  border-top: none;
}

.tic-tac-toe-board {
  display: grid;
  margin: 30px;
}
