* {
  font-size: 14px;
  color: #ebdbb2;
}

p {
  line-height: 1.5;
}

body {
  border: 1px solid white;
  border-radius: 10px;
  border-width: 3px;
  border-color: #d79921;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #E19898 !important;
  font-family: "Cascadia Code Regular" !important;
  color: #ebdbb2;

  min-height: 100vh;
}

@media screen and (max-width: 542px) {
  * {
    font-size: 15px;
  }
  .title-card-small {
    font-size: 100px;
  }
  .title-card-large {
    font-size: 11px;
  }
}

.fancy-3d {
  font-family: "Mexcellent 3D", cursive;
  font-size: max(80px, 8vw);
  margin: auto;
}

.prompt-text {
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

.prompt-input {
  display: inline-block;
  padding: 5px;
  width: 5px;
  margin-left: 10px;
  flex: 1 1 0;
  background-color: transparent;
  color: #f9ed69;
  border: none;
  outline: none;
  cursor: text;
  font-family: "Cascadia Code Regular" !important;
  padding: 0;
  margin: 0;
}

.prompt-input::before {
  content: "\A";
  white-space: pre;
}

.prompt-taker {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.pre {
  margin: auto;
  white-space: pre;
}

main {
  overflow: auto;
  box-sizing: border-box;
}

footer {
  height: 40vh;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

a {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #856015 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

a.copy-clip {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #3c486b 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.prompt-output {
  width: min(550px, 100%);
  overflow: hidden;
  color: #ebdbb2;
}

input {
  caret-shape: underscore;
}

.portrait {
  width: 50%;
  height: auto;
  margin: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 542px) {
  .portrait {
    width: 80%;
  }
}

.icon img {
  width: 5%;
  height: auto;
  margin: 10px;
}
