.prompt-output {
  /* width: min(550px, 100%); */
  overflow: hidden;
  color: #ebdbb2;
}

.prompt-text {
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

.prompt-input {
  display: inline-block;
  padding: 5px;
  width: 5px;
  margin-left: 10px;
  flex: 1 1 0;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: text;
  font-family: "Cascadia Code Regular" !important;
  padding: 0;
  margin: 0;
}

.prompt-taker {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}