.prompt-output {
	/* width: min(550px, 100%); */
	overflow: hidden;
	color: var(--error-text-color);
}

.prompt-container {
	margin-bottom: 10px;
}

.prompt-text {
	margin-right: 10px;
	display: flex;
	flex: 1;
	white-space: nowrap;
	flex-direction: column;
}

#prompt-input {
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	flex: 1 1 0;
	background-color: transparent;
	color: var(--primary-text-color);
	border: none;
	outline: none;
	cursor: text;
	font-family: var(--primary-font-family);
	font-weight: 600;
	padding: 0;
	margin: 0;
	position: relative;
	height: 22.5px;

	cursor: pointer;
}

#prompt-input.unknown-command {
	color: var(--error-text-color);
	font-weight: 800;
}

#prompt-input.known-command {
	color: var(--ok-text-color);
	font-weight: 800;
}

#prompt-suggest {
	background-color: transparent;
	color: var(--primary-text-color);
	opacity: 0.5;
	font-family: var(--primary-font-family);
	position: absolute;
	z-index: 1;
	pointer-events: none;
	margin: 0;
	flex: 1;
	position: 0;
}

.prompt-tag {
	color: var(--ok-text-color);
	font-weight: 800;
}

.error-prompt-tag {
	color: var(--error-text-color);
	font-weight: 800;
}

.prompt-taker {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.input-box {
	display: flex;
	flex: 1;
	padding-left: 5px;
	overflow: hidden;
	position: relative;
}

.glow {
	cursor: pointer;
}

.prompt-line-top {
	display: flex;
	align-items: center;
	gap: 4px;
	flex: 1;
}

.prompt-line-bottom {
	margin-top: 5px;
	display: flex;
	align-items: center;
	gap: 4px;
	flex: 1;
}

.fill-line {
	flex: 1;
	border-bottom: 2px dashed var(--primary-text-color);
	margin: 0 4px;
	opacity: 0.4;
}

code {
	font-family: var(--primary-font-family);
}

.idle {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	font-weight: 800;
	border-radius: 1px;
	background-color: var(--primary-text-color);
	color: var(--primary-bg-color);
}
