.portrait {
	width: 50%;
	height: auto;
	margin: 30px;
	border-radius: 50%;
	box-shadow: 10px 10px 0px rgb(255, 255, 255);
}

.portrait:active {
	transform: translateY(10px) translateX(10px);
	box-shadow: none;
}

@media screen and (max-width: 542px) {
	.portrait {
		width: 80%;
	}

}

.social-media img {
	width: 30px;
	height: auto;
	margin: 10px;
}

.social-media img,
.social-media p {
	display: inline-block;
	vertical-align: middle; /* to align them vertically centered to each other */
}

.row {
	display: flex;
}

.signature {
	font-family: "Amiri Quran";
	font-size: 40px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 100px;
  margin: 0;
	/* border-right: solid 3px rgba(0, 255, 0, 0.75); */
	/* animation: animated-cursor 600ms steps(29, end) infinite; */
}

/* cursor animations */

/* @keyframes animated-cursor {
	from {
		border-right-color: rgba(0, 255, 0, 0.75);
	}
	to {
		border-right-color: transparent;
	}
} */
